
.container{
    padding-top: 3rem;
}
.row{
    margin-bottom: 1.5rem;
}
form{
    text-align: center;
}
.btn,
.btn:disabled:hover{
    border-color: #009688;
    background-color: #009688;
    margin-left: 2rem;
}
.btn:hover{
    background-color: #00796B;
    border-color: #00796B;
}
.form-control:focus{
    border-color: #009688;
}
i{
    margin-right: 0.5rem;
}

h5{
    color: #CCC;
    text-align: center;
    margin-top: 3rem;
}