<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="src-only"></label>
                    <input type="text" name="content" [(ngModel)]="currentTask.content" required id="content-field" placeholder="Enter a task..."
                        value="" class="form-control">
                </div>
                <button type="sumbit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let t of tasks" [task]="t"></app-card>

        <h5 *ngIf="tasks.lenght == 0">
            <p>The task list is empty.</p>
            <p>Add new task using the form above.</p>
        </h5>
    </div>
</div>