<div class="col-sm-3" *ngIf="!task.completed">
    <div class="card" (click)="statusToggle()" [class.completed]="task.completed">
        <div class="card-block">
            <p>{{task.content}}</p>
        </div>
        <div class="card-footer">
          <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Complete.</span>
          <span [hidden]="!task.completed"><i class="fa fa-check" aria-hidden="true"></i>Completed.</span>
        </div>
    </div>
</div>