.card{
    border-radius: 0;
    cursor: pointer;
}
.card,
.card-footer{
    border: none;
    background-color: #FFFFA5;
}
.card.completed,
.card.completed .card-footer,
.card.completed i{
    background-color: #EEE;
    color: #CCC;
}

.card-footer{
    text-align: right;
}

i{
    color: #CC0000;
    padding-right: .5rem;
}